.cart-container{
    margin: 10px;
}

.home {
    height: 100%;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

ul {
    margin-top: 5px; 
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 10px; 
}

p {
    margin-top: 5px; 
    margin-bottom: 5px;   
}
