.sidebar .nav {
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Space between items */
}
  
  .sidebar {
    color: white;
    height: 100vh;
}
  
  

  
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: hsl(0, 19%, 91%);
  }
  
  
  