.form-continer {
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
}

.form {
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(43, 33, 33);
    padding: 20px;
    width: 300px;
    justify-content: center;
    align-items: center;

}

.form-grop {
    margin-bottom: 15px;
}
.form-groupp{
    display: flex;
    margin-bottom: 15px;
    padding-left: 50%;

}
.form-continerp{
    display: block;
    height: 100vh;
    margin: 20px;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.form-controlp {
    width:50px;
    box-sizing: border-box;
    margin-top: 5px;}

h2 {
    margin-bottom: 20px;
    text-align: center;

}
.pay-button{
margin-top: 20%;
margin-left: 20%;
}



.form-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;

}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(59, 177, 212);
}

.log {
    margin-left: 15px;
    text-decoration: none;
}

.a {
    color: brown;
}

.address {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.form-continer-address {
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
}

.form-address {
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.form-control-address {
    /* width: 100%; */
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 10px;
    justify-content: space-between;
    /* margin-right: 100px; */

}
.form-control-addresss {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 15px;
    justify-content: space-between;
}
.form-label-address {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left:50px;
}
    