.home {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    display:grid;

    flex-direction: column;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.7)),rgba(0,0,0,0.7),url("./yeabsira.jpg");
}
