
.nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
background-color: #48484b
;    color: white;
    padding-inline: 45px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbrand {
    font-size: 1.8rem;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(216, 204, 204);
  }
  .navbrand:hover {
    text-decoration: underline;
    color: bisque;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .nave-link {
    color: rgb(216, 204, 204);
    text-decoration: none;
    margin-left: 20px;
    text-align: right;
  }
  .nave-link:hover{
    text-decoration: underline;
    color: bisque;
  }
  
  /* Button Styles */
  .button {
    background-color: #1f1caa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
   }
  
  .hero-button:hover {
    background-color: hsl(145, 86%, 37%); 
   }
