.product-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    height:100vh;
    
  }
  .left-item{

   margin-right: 40px;
   margin-right: 60px;
  }
  .product-detail-image {
    max-width: 80%;
    height: 600px;;
  }
  
  .product-detail-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .product-detail-price {
    font-size: 20px;
    color: rgb(27, 29, 27);
    margin-bottom: 50px;
  }
  .product-detail-prand {
    font-size: 20px;
    color: rgb(27, 29, 27);
    margin-bottom: 50px;
  }
  .product-detail-description {
    margin-bottom: 50px;
  }
  
  .quantity-selector {
    margin: 30px 0;
  }
  .btn{
    margin: 10px;
    border-radius: 5px;
    box-shadow: inset;
    width: 150px;
    height: 30px;
    background-color: rgb(149, 142, 243);
    border: 2px rgb(7, 7, 7) solid;
  }
  /* forcart */
  .image{
    width: 200px;
    margin-right: 20px;
  }
  .name{
    font-size: 24px;
    font-weight: bold;

  }
  .quantity-controls{
  display: flex;
  }
 
 
  
 
  
  
 