.product-card {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  text-align: center; 
  margin: 15px;
  justify-content: center;
 }
 
 .product-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
 }
 
 .product-info {
  margin-top: 10px;
 }
 
 .product-name {
  font-weight: bold;
 }
 
 .product-price {
  color: #333;
 }
 
 .buttons {
  margin-top: 10px;
 }
 
 .buttons button {
  margin: 0 5px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
 }
 
 .search-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px; 
  margin: 10px; 
  text-align: center;
  justify-content: center;
 }
 
 .input-filtter {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  align-items: center;
  margin: 10px;
  width: 200px; 

 }
 .pagination .page-item {
  margin: 0 5px;}

.pagination .page-link {
  padding: 8px 12px; 
}
