.home {
    height: 100vh;
        margin: 0;
        background-color: aquamarine;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0;}
        h4{
    margin-right:400px
        }
        ul{
          margin-top: 5px; 
          margin-bottom: 10px;
        }
        li{
            margin-top: 5px; 
            margin-bottom: 5px;   
        }
        p{
            margin-top: 10px; 
            margin-bottom: 10px;   
        }